* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: small;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-family: arial, sans-serif;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

#main-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 6px;
}

#gmailI {
  border-radius: 50px;
}

#appI {
  width: 24px;
  height: 24px;
  opacity: 1;
  fill: #5f6368;
}

#main-div__header-text__gmail-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-bottom: 1px;
}

#imageTD {
  display: inline-block;
  vertical-align: middle;
}

#appID {
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  padding-right: 0px;
}

#gmailID {
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  width: 96px;
  height: 40px;
}

#main-div__header-text {
  padding-right: 4px;
}

#gmailIL {
  height: 40px;
  display: inline-block;
}

#gmailIL:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
}

#appL {
  padding: 8px;
  height: 40px;
  display: inline-block;
}

#appL:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
}

#main-div__header-text__gmail-text a {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}

#imageTD a {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}

#imageTD {
  padding-right: 12px;
  padding-left: 11px;
  padding-bottom: 1px;
}

#mainD2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#googleD {
  margin-top: 198px;
}

#searchbar {
  height: 46px;
  width: auto;
  min-width: 584px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  margin-top: 1px;
}

#searchbar:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

#searchbar:focus {
  outline: none;
}

#searchbarD {
  padding: 20px;
  padding-top: 22px;
  position: relative;
}

#iconS {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 27px;
  left: 35px;
  padding: 9px 0;
}

#searchicon {
  width: 20px;
  height: 20px;
  fill: #9aa0a6;
}

#voiceicon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#voiceD {
  position: absolute;
  padding: 9px 0;
  right: 37px;
  top: 25px;
}

#button1 {
  padding: 0 16px;
  margin: 0px 4px;
  margin-top: 9px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  line-height: 27px;
  height: 36px;
  text-align: center;
  cursor: pointer;
}

#button1:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

#button2 {
  padding: 0 16px;
  margin: 0px 4px;
  margin-top: 9px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  line-height: 27px;
  height: 36px;
  text-align: center;
  cursor: pointer;
}

#button2:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

#textD {
  line-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#textD p {
  margin: 0;
  padding-top: 12px;
}

#textD a {
  color: #1a0dab;
  padding: 0 3px;
  font-size: 13px;
}

#footerD {
  display: flex;
  position: fixed;
  background-color: #f2f2f2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 46px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#footerT1 {
  display: inline-block;
  padding: 15px;
  color: #70757a;
}

#footerT2 {
  display: inline-block;
  padding: 15px;
  padding-left: 11px;
  color: #70757a;
}

#footerT3 {
  display: inline-block;
  padding: 15px;
  padding-left: 11px;
  color: #70757a;
}

#footerT4 {
  display: inline-block;
  padding: 15px;
  padding-left: 11px;
  color: #70757a;
}

#footerT5 {
  display: inline-block;
  padding: 15px;
  padding-left: 11px;
  color: #70757a;
}

#footerT6 {
  display: inline-block;
  padding: 15px;
  padding-left: 11px;
  color: #70757a;
}

#footerT7 {
  display: inline-block;
  padding: 15px;
  padding-left: 11px;
  color: #70757a;
}

#footerD1 {
  padding-left: 20px;
}

#footerD2 {
  padding-right: 20px;
}

#signin-input {
  background-color: #1a73e8;
  border: none;
  color: #fff;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  
  min-width: 96px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  width:96px;
  height:40px;
  margin-top: -2px;
}

/*------drop down menu-----*/
 .drop-down-menu
{
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
  overflow-x: hidden;
  transform: translateX(-80px);
  margin-top: 15px;
  height: 450px;
  width: 300px;
  z-index: 10;
} 


/* ---styling the scrollbar in the apps menu starts---- */
.drop-down-menu::-webkit-scrollbar-thumb {
  background: #dadce0;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
} 
.drop-down-menu::-webkit-scrollbar-track {
  background: none;
  border: none;
}
.drop-down-menu::-webkit-scrollbar {
  width: 16px;
}
/* ---styling the scrollbar in the apps menu ends---- */
/* ---positioning the background image for icons start---- */
.account a {

background-position: 0 -1587px;
}
.search a
{
  background-position: 0 -1794px;
}
.maps a
{
  background-position: 0 -483px;
}
.youtube a
{
  background-position: 0 -2622px;
}
.play a
{
  background-position: 0 -207px;
}
.news a 
{
  background-position: 0 -1311px;
}
.gmail a {
  background-position: 0 -2001px;
}
.meet a {
  background-position: 0 -690px;
}
.chat a {
  background-position: 0 -1656px;
}
.contacts a {
  background-position: 0 -2898px;
}
.drive a {
  background-position: 0 -2967px;
}
.calendar a {
  background-position: 0 -2553px;
}
.translate a {
  background-position: 0 -1932px;
}
.photos a {
  background-position: 0 -2829px;
}
.duo a {
  background-position: 0 -2484px;
}
.shopping a {
  background-position: 0 -69px;
}
.finance a {
  background-position: 0 -345px;
}
.docs a {
  background-position: 0 -1242px;
}

.sheets a {
  background-position: 0 -2208px;
}
.slides a {
  background-position: 0 -2277px;
}
.books a {
  background-position: 0 -2760px;
}
.blogger a {
  background-position: 0 -1863px;
}
.hangouts a {
  background-position: 0 -2415px;
}
.keep a {
  background-position: 0 -276px;
}
.jamboard a {
  background-position: 0 -2070px;
}
.classroom a {
  background-position: 0 -966px;
}
.earth a {
  background-position: 0 -1380px;
}
.collections a{
  background-position: 0 -621px;
}
.arts a{
  background-position: 0 -1518px;
}
.ads a{
  background-position: 0 -414px;
}
.podcasts a{
  background-position: 0 -552px;
}
.one a{
  background-position: 0 -2691px;
}
.travel a{
  background-position: 0 -3036px;
}
.forms a {
  background-position: 0 -2139px;
}

.long{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 76px;
}
.icon a {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  background-size: 64px 3100px;
  background-image: url(images/p1_c9bc74a1.png);
}

.icon {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}
.caption
{
  text-align: center;
  margin: auto;
  padding-bottom: 5px;
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  letter-spacing: 0.09px;
  line-height: 18px;
}

.applist {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}

 .icon:hover {
  background-color: #e8f0fe;
  border: none;
  border-radius: 8px;
  z-index: 1;
}
.sixth
{
  border-bottom: 1px solid #e8eaed;
}

.more {
background-color: #fff;
border: 1px solid #dadce0;
border-radius: 4px;
box-sizing: border-box;
color: #1a73e8;
display: inline-block;
font: 500 14px/16px 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
margin: 16px 0 20px 0;
max-width: 265px;
outline: 0;
padding: 10px 24px;
text-align: center;
text-decoration: none;
white-space: normal;
width: auto;

}
.more-button{
  display: flex;
  justify-content: center;
}

.more:hover{
  background-color: #f8fbff;
  border-color: #cce0fc;
  text-decoration: none;
}
.hide {
  display: none;
}



















